In [1]:
## Amir Shokri
## St code : 9811920009
## E-mail : amirsh.nll@gmail.com

In [2]:
## mlp

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neural_network import MLPClassifier

import os
for dirname, _, filenames in os.walk('/Users/Amirsh.nll/Downloads/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/Amirsh.nll/Downloads/Capture.PNG
/Users/Amirsh.nll/Downloads/desktop.ini
/Users/Amirsh.nll/Downloads/genderclassifier.csv
/Users/Amirsh.nll/Downloads/logistic_regression.ipynb
/Users/Amirsh.nll/Downloads/logistic_regression.zip
/Users/Amirsh.nll/Downloads/mlp.ipynb
/Users/Amirsh.nll/Downloads/Naive-Bayes.ipynb
/Users/Amirsh.nll/Downloads/Untitled.ipynb
/Users/Amirsh.nll/Downloads/.ipynb_checkpoints\LOGISTIC_REGRESSION-checkpoint.ipynb
/Users/Amirsh.nll/Downloads/.ipynb_checkpoints\mlp-checkpoint.ipynb
/Users/Amirsh.nll/Downloads/.ipynb_checkpoints\Naive-Bayes-checkpoint.ipynb
/Users/Amirsh.nll/Downloads/.ipynb_checkpoints\Untitled-checkpoint.ipynb
/Users/Amirsh.nll/Downloads/.ipynb_checkpoints\Untitled1-checkpoint.ipynb
/Users/Amirsh.nll/Downloads/Video\del_E04_720p.mp4

In [4]:
data = pd.read_csv('genderclassifier.csv', encoding ='latin1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
_unit_id                 20050 non-null int64
_golden                  20050 non-null bool
_unit_state              20050 non-null object
_trusted_judgments       20050 non-null int64
_last_judgment_at        20000 non-null object
gender                   19953 non-null object
gender:confidence        20024 non-null float64
profile_yn               20050 non-null object
profile_yn:confidence    20050 non-null float64
created                  20050 non-null object
description              16306 non-null object
fav_number               20050 non-null int64
gender_gold              50 non-null object
link_color               20050 non-null object
name                     20050 non-null object
profile_yn_gold          50 non-null object
profileimage             20050 non-null object
retweet_count            20050 non-null int64
sidebar_color            20050 non-null object
text                     20050 non-null object
tweet_coord              159 non-null object
tweet_count              20050 non-null int64
tweet_created            20050 non-null object
tweet_id                 20050 non-null float64
tweet_location           12566 non-null object
user_timezone            12252 non-null object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [5]:
data = data.drop(['_unit_id', '_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at', 'profile_yn', 'profile_yn:confidence', 'created', 'description', 'gender_gold', 'link_color', 'profile_yn_gold', 'profileimage', 'sidebar_color', 'text', 'tweet_coord', 'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone', 'gender:confidence', 'gender', 'name'],axis=1)

In [6]:
data.head(20000)

       fav_number  retweet_count  tweet_count
0               0              0       110964
1              68              0         7471
2            7696              1         5617
3             202              0         1693
4           37318              0        31462
...           ...            ...          ...
19995       33834              1        29190
19996        2462              0        11117
19997        1855              0         5640
19998        2160              0         2041
19999       14771              0        17851

[20000 rows x 3 columns]

In [7]:
y = data['tweet_count'].values
y = y.reshape(-1,1)
x_data = data.drop(['tweet_count'],axis = 1)
print(x_data)

       fav_number  retweet_count
0               0              0
1              68              0
2            7696              1
3             202              0
4           37318              0
...           ...            ...
20045         302              0
20046        2513              0
20047          50              0
20048       70804              0
20049        3348              0

[20050 rows x 2 columns]

In [8]:
x = (x_data - np.min(x_data)) / (np.max(x_data) - np.min(x_data)).values
x.head(20000)

       fav_number  retweet_count
0        0.000000        0.00000
1        0.000199        0.00000
2        0.022528        0.00303
3        0.000591        0.00000
4        0.109238        0.00000
...           ...            ...
19995    0.099040        0.00303
19996    0.007207        0.00000
19997    0.005430        0.00000
19998    0.006323        0.00000
19999    0.043238        0.00000

[20000 rows x 2 columns]

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.5,random_state=100)

y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

print("x_train: ",x_train.shape)
print("x_test: ",x_test.shape)
print("y_train: ",y_train.shape)
print("y_test: ",y_test.shape)

my_x = x_train
my_y = y_train

my_xx = x_test
my_yy = y_test

x_train:  (10025, 2)
x_test:  (10025, 2)
y_train:  (10025, 1)
y_test:  (10025, 1)

In [13]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(7, 2), random_state=1)

In [ ]:
clf.fit(my_x, my_y)
y_pred = clf.predict(my_xx)
print("Accuracy:",metrics.accuracy_score(my_yy, y_pred))

C:\Users\Amirsh.nll\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)